h1 {
  margin-top: 50px;
  font-size: 40px;
}

.tags {
  display: flex;
  margin-bottom: 50px;
  font-size: 12px;
  color: white;
}

.tag {
  margin: 0px 4px 0px 4px;
  border-radius: 15px;
  padding: 5px;
}

.tag-1 {
  background-color: #0A66C2;
}

.tag-2 {
  background-color: #dd2727;
}

.outer-card {
  background-color: white;
  border: solid 1px black;
  height: 460px;
  width: 700px;
  padding: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

.inner-card {
  background-color: white;
  border: solid 1px black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.cocktail-img {
  height: 100%;
  min-width: 235px;
  object-fit: cover;
}

.recipe {
  border-left: solid 1px black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

.card-header {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.cocktail-name {
  display: flex;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 8px;
}

.header-bottom {
  font-size: 14px;
  display: flex;
  flex-direction: row;
}

.header-bottom-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 200px;
}

.attributes {
  font-size: 14px;
  display: flex;
}

.ingredients, .mls {
  display: flex;
  align-items: center;
  border-top: solid 1px black;
}

.ingredients {
  height: 30px;
  width: 327px;
  padding-left: 5px;
}

.mls {
  border-left: solid 1px black;
  border-right: solid 1px black;
  width: 100px;
  justify-content: center;
}

.ingredients-ml-list {
  font-size: 14px;
  width: 427px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px black;
}

.ingredient, .ml {
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.ingredient-grey, .ml-grey {
  background-color: #E8E8E8;
}

.ml-list {
  border-left: solid 1px black;
  border-right: solid 1px black;
  width: 100px;
}

.ml {
  justify-content: center;
}

.ingredient {
  width: 327px;
}

.garnish {
  font-size: 14px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.step-by-step-guide {
  margin-left: 50px;
  padding: 10px;
  height: 460px;
  width: 100%;
  border: 1px solid black;
  background-color: white;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
} 

.inner-step-by-step {
  height: 100%;
  padding: 20px;
  border: 1px solid black;
}

.guide {
  font-size: 24px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.step {
  margin-bottom: 5px;
}

.card-and-guide {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 1200px;
}

.info-history {
  margin: 50px 0;
  width: 1200px;
  display: flex;
}

.outer-info, .outer-history {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

.outer-history {
  margin-left: 50px;
}

.inner-info, .inner-history {
  border: 1px solid black;
  background-color: white;
  padding: 20px;
  height: 100%;
}

.text {
  margin-top: 10px;
  text-align: start;
}